<div class="row-fluid">
  <div class="span3">
    <form action="/edit/login" method="POST">
      <input type="hidden" name="id" value="<%= @id %>"
      <label>password</label>
      <input type="password" name="password" />
      <input type="submit" class="btn btn-success" value="Editer" />
    </form>
  </div>
</div>
