<% content_for :head do %>
  <script type="text/javascript" src="/assets/javascripts/jquery.nested_form.js"></script>
<% end %>

<div class="row-fluid">
  <div class="span3">
    <h2>Quelques tips</h2>
    <ul>
      <li>Indiquez la localité du sondage pour guider les votants dans leur choix</li>
      <li>Pensez à ceux qui ne mangent pas avec vous ou qui ont déjà de quoi manger</li>
      <li>Vous pouvez indiquer des lieux qui ne sont pas dans la liste des choix (jardins public, bureau ...)</li>
    </ul>
  </div>
  <%= render 'form' %>
</div>
